body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-half {
    height: 50%;
    background-color: #007bff;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    width: 55%;
    height: 65%;
    max-width: 1200px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 20%);
}

/* inbox */
.inbox {
    padding: 8px 12px;
}

.inbox-item {

}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: white;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Style for input area */
.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input textarea {
    min-width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.chat-input button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat-input button:hover {
    background-color: #1a73e8;
}

/* MESSAGE STYLING */

/* avatar */
/*.chat-message i {*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    overflow: hidden;*/
/*    left: 10px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    font-size: 18px;*/
/*    line-height: 42px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    font-style: normal;*/
/*    text-transform: uppercase;*/
/*}*/

.chat-message span {

}

.chat-message {
    /*display: flex;*/
    border-radius: 8px;
    align-self: flex-start;
    word-wrap: break-word;
    padding: 4px;
    background-color: #f0f0f0;
    display: inline-block;
    clear: both; /* Prevent floating issues */
}

.chat-message .username-style {
    font-weight: bold;
    margin-right: 5px;
}

.no-active-chat-message {
    text-align: center;
    font-style: italic;
    color: #888;
    padding: 20px;
}

.list-group-item.chat-link.active {
    background-color: #d0d7de; /* Example active chat highlight */
}