<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/home_style.css">
</head>
<body>

    <script th:inline="javascript">
        var username =  /*[[${username}]]*/ '';
        var userId =  /*[[${userId}]]*/ '';
        var activeChatId = null;
    </script>


    <main class="row">
        <div class="top-half position-absolute w-100"></div>
        <!-- inbox section -->
        <section class="inbox col-md-4 border rounded">
            <div class="row">

                <!-- search -->
                <div>
                    <label for="search"></label><input type="search" name="search" id="search" class="form-control rounded mb-3" placeholder="Search">
                </div>

                <div class="chats">
                    <div class="list-group">
                        <a
                                href="javascript:void(0)"
                                class="list-group-item list-group-item-action"
                                th:each="chat : ${chats}"
                                th:data-chat-id="${chat.chatId}"
                                onclick="setActiveChatId(event, this)"
                        >
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1" th:text="${chat.userId}">User Name</h6>
                                <small  th:text="${chat.lastMessageTimestamp}">Time</small>
                            </div>
                            <p class="mb-1" th:text="${chat.lastMessageContent}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- chat section -->
        <section class="chats col-md-8">
            <div class="chat-window d-flex flex-column">
                <div id="no-active-chat-message" class="no-active-chat-message" th:if="${activeChatId == null}">
                    No active chat selected. Please select a chat from the inbox to start messaging.
                </div>

                <div  id="message-container" class="message-container flex-grow-1 overflow-y">
                    <!-- populate messages -->
                </div>
                <div class="chat-input">
                    <label for="messageInput"></label>
                    <textarea id="messageInput" class="form-control" placeholder="Type your message" th:disabled="${activeChatId == null}"></textarea>
                    <button id="sendMessageButton" class="btn btn-primary send-button" th:disabled="${activeChatId == null}">Send</button>
                </div>
            </div>
        </section>
    </main>

    <!-- sock js for websockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- stomp for protocol ? -->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- code for handling websockets -->
    <script src="/app.js"></script>

</body>
</html>