<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/home_style.css">
</head>
<body>
    <main class="row">
        <div class="top-half position-absolute w-100"></div>
        <!-- left section -->
        <section class="inbox col-md-4 border rounded">
            <div class="row">

                <!-- search -->
                <div>
                    <input type="search" name="" id="" class="form-control rounded mb-3" placeholder="Search">
                </div>

                <div class="chats">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" th:each="chat : ${chats}">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1" th:text="${chat.username}">User Name</h6>
                                <small  th:text="${#temporals.format(chat.lastMessageTimestamp, 'HH:mm')}">Time</small>
                            </div>
                            <p class="mb-1" th:text="${chat.lastMessageContent}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- right section -->
        <section class="chats col-md-8">
            <div class="chat-window d-flex flex-column">
                <div class="chat-messages flex-grow-1 overflow-auto">
                    <div id="message-container" class="message-container">
                        <!-- populate messages -->
                    </div>
                </div>

                <div class="chat-input p-2">
                    <textarea id="messageInput" class="form-control mb-2" placeholder="Type your message"></textarea>
                    <button id="sendMessageButton" class="btn btn-primary mt-2 w-100 send-button">Send</button>
                </div>
            </div>
        </section>
    </main>

    <!-- sock js for websockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- stomp for protocol ? -->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- code for handling websockets -->
    <script src="/app.js"></script>

</body>
</html>