<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<style>
    html, body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 90%;
        max-width: 1200px;
        background: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }
</style>
<body>

<main class="card border-light-subtle shadow-sm">
    <div class="row g-3 no-row-gutters">
        <!-- Left Section -->
        <div class="col-sm-8 text-center d-flex flex-column justify-content-center align-items-center">
            <div class="col-10 col-xl-8 py-3">
                <h1 class="display-5 fw-bold">SpringChat</h1>
                <hr class="border-primary-subtle mb-4">
                <p class="lead mb-4">Experience seamless communication with private chats and group conversations, all in one place!</p>
            </div>
        </div>

        <!-- Right Section -->
        <div class="col-md-3 d-flex align-items-center" style="padding: 2rem 0">
            <form th:attr="action=@{/login}" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Dragon123" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="**************">
                </div>

                <div class="d-flex justify-content-center gap-2">
                    <button id="signin" type="submit" class="btn btn-primary mb-3 btn-sm">Sign In</button>
                </div>

                <hr>
                <p class="text-center m-0">New User? <a th:href="@{/register}">Sign Up</a></p>
                <p class="text-center m-0">Forgot password? <a href="#">Reset Password</a></p>

                <div class="text-center">
                    <p class="justify-content-center mt-4 mb-2">Or sign in with</p>
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                            </svg>
                            <span class="ms-2 fs-6">Google</span>
                        </a>
                        <a href="/oauth2/authorization/github" class="btn bsb-btn-xl btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                            <span class="ms-2 fs-6">Github</span>
                        </a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</main>

</body>
</html>